
header {
    height: 200px;
    background-color: #e10000;
}
main {
    background-color: rgb(38, 38, 38);
    height: 600px;
}
footer{
    background-color:blue;
    height: 200px;
}
.h1-header {
    text-align: center;
    padding-top: 5%;
}
.texto-1{
    color: white;
    margin-top: 6%;
    margin: 3%;
}
footer a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding-left: 10px;
}
footer img{
    width: 20%;
    height: 140px;
    position: absolute;
    left: 75%;
}
