
header {
    height: 200px;
    background-color: #34c4ce;
}
.h5-header{
 margin-left: 5%;
 padding-top: 20px;
    
}
main {
    background-color: rgb(38, 38, 38);
    height: 600px;
}
footer{
    background-color:#25408b;
    height: 200px;
}
.h1-header {
    text-align: center;
    padding-top: 2%;
}
.texto-1{
    color: white;
    margin-top: 6%;
    margin: 3%;
}
footer a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding-left: 10px;
}
footer img{
    width: 20%;
    height: 140px;
    position: absolute;
    left: 75%;
}
